<mat-toolbar class="header">
  <div class="container header-container">
    <div class="logo-section">
      <a class="logo hover-effect" routerLink="/">
        <mat-icon class="logo-icon">code</mat-icon>
        <span class="logo-text">TechCorp</span>
      </a>

      <nav class="nav-links">
        <a class="nav-link hover-effect" routerLink="/docs">
          <mat-icon>description</mat-icon>
          <span>Docs</span>
        </a>
        <a class="nav-link hover-effect" routerLink="/pricing">
          <mat-icon>payments</mat-icon>
          <span>Pricing</span>
        </a>
        <a class="nav-link hover-effect" routerLink="/blog">
          <mat-icon>article</mat-icon>
          <span>Blog</span>
        </a>
        <a class="nav-link hover-effect" routerLink="/security">
          <mat-icon>security</mat-icon>
          <span>Security</span>
        </a>
      </nav>
    </div>

    <div class="action-buttons">
      <a class="btn-text hover-effect" routerLink="/login">
        <mat-icon>person_outline</mat-icon>
        <span>Log in</span>
      </a>
      <a class="btn btn-primary hover-effect" routerLink="/signup">
        <mat-icon>rocket_launch</mat-icon>
        <span>Get started free</span>
      </a>
      <a class="btn btn-accent hover-effect" routerLink="/demo">
        <mat-icon>play_circle</mat-icon>
        <span>Book a demo</span>
      </a>
    </div>
  </div>
</mat-toolbar>